# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [16]:
my_columns = ['Ticker', 'Price','Market Capitalization', 'Number Of Shares to Buy']
final_dataframe = pd.DataFrame(columns = my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, Market Capitalization, Number Of Shares to Buy]
Index: []

In [17]:
final_dataframe = final_dataframe.append(
                                        pd.Series(['AAPL', 
                                                   data['latestPrice'], 
                                                   data['marketCap'], 
                                                   'N/A'], 
                                                  index = my_columns), 
                                        ignore_index = True)
final_dataframe

  Ticker   Price Market Capitalization Number Of Shares to Buy
0   AAPL  132.97         2218377462776                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using.

In [28]:
final_dataframe

,Ticker,Price,Market Capitalization,Number Of Shares to Buy
0,"A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,...",101.6,79896403029,N/A
1,"CME,CMG,CMI,CMS,CNC,CNP,COF,COG,COO,COP,COST,C...",101.6,79896403029,N/A
2,"GIS,GL,GLW,GM,GOOG,GOOGL,GPC,GPN,GPS,GRMN,GS,G...",101.6,79896403029,N/A
3,"MCK,MCO,MDLZ,MDT,MET,MGM,MHK,MKC,MKTX,MLM,MMC,...",101.6,79896403029,N/A
4,"ROL,ROP,ROST,RSG,RTX,SBAC,SBUX,SCHW,SEE,SHW,SI...",101.6,79896403029,N/A
5,"YUM,ZBH,ZBRA,ZION,ZTS",101.6,79896403029,N/A

## Improve Of Performance

We then splite the data into batches or chunks and see how it responds and then we can be able to deal with the data in a more easier fashion. Because chunked data allows better performance
A stock’s performance needs to be placed in the right context to understand it properly. The stock has returned 20% since the beginning of the year when viewing the starting price versus the ending price. It was a bit depressed from the first day.

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next. We shall use a portfolio of 1000000

In [32]:
final_dataframe

    Ticker   Price Market Capitalization Number Of Shares to Buy
0        A  128.35           39931359792                      15
1      AAL   22.14           13807230299                      89
2      AAP  163.60           10965207157                      12
3     AAPL  132.72         2242852134384                      14
4     ABBV  113.38          196021920613                      17
..     ...     ...                   ...                     ...
500    YUM  106.24           31863028584                      18
501    ZBH  164.00           35269766310                      12
502   ZBRA  536.99           28010190743                       3
503   ZION   55.42            9169913166                      35
504    ZTS  162.49           75834150774                     N/A

[505 rows x 4 columns]